.messages {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 0.8rem;
}

.dialogs {}

.dialog {
    margin-bottom: 1rem;
}

.dialog:last-child {
    margin-bottom: 0;
}

.messages_container {
}

.message {
    max-width: 50%;
    margin-bottom: 0.3rem;
}