.messages {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 0.8rem;
}

.dialogs {}

.dialog {
    margin-bottom: 1rem;
}

.dialog:last-child {
    margin-bottom: 0;
}

.messages_container {}

.sent_messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}

.new_message {}

.message {
    max-width: 50%;
}