.user_card {
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 1000px;
    max-height: 11rem;
    overflow: hidden;
}

.user_card:last-child {
    margin-bottom: 0;
}

.paginator {
    display: flex;
    gap: 1rem;
}

.page_number {
    color: white;
    cursor: pointer;
}

.page_number__active {
    color: rgb(4, 0, 255);
    font-weight: 700;
}