.new_post {
    display: flex;
    flex-direction: column;
}

.textarea {
    flex: 0 0 100px;
    padding: 0.5rem 0.8rem;
    margin: 0 0 0.5rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8125rem;
    line-height: 1.2;
    color: #C9D1D9;
    letter-spacing: 1px;
    resize: none;
    background-color: #161B22;
    border: 1px solid #30363d;
}

.button {
    align-self: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 12px 32px;
    background-color: #238636;
    color: white;
    border-radius: 11px;
}

.button:hover {
    background-color: #38aa4f;
    transition: all 0.3s;
}