.sidebar {
    max-width: 350px;
    background-color: #0d1117;
    border-right: 1px solid #30363d;
    overflow: auto;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 30;
    max-height: 100vh;
    padding: 10px 28px;
  }
  
  .main {
    flex: auto;
    width: 66.67%;
    padding: 1.5rem;
  }
  
  /* TABLET *//*
  @media (max-width: 991.98px) {
    .sidebar {
      position: fixed;
      top: -100%;
      left: 0;
      z-index: 20;
      height: 100%;
      width: 100%;
      transition: all 0.5s;
    }
  
    .sidebar_active {
      top: 0;
      overflow: auto;
    }
  }*/