.footer {
    flex: 0 0 50px;
    background-color: white;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
	padding: 0 15px;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .875em !important;
    color: #6c757d;
}

footer a,
footer a:visited {
    color: rgb(13, 110, 253);
}