.profile_card {
    background-color: #0D1117;
    border: 1px solid #30363d;
    border-radius: 11px;
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
}

.photo {
    flex: 0 0 65px;
    position: relative;
    padding: 0 0 65px 0;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    overflow: hidden;
}

.photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    color: #dddddd;
    line-height: 1.5;
}

.user_name {
    font-size: 1rem;
    font-weight: 700;
}

.login {
    font-size: 0.8125rem;
    color: #C9D1D9 !important;
}

.body {

}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    margin-bottom: 0.5em;
    line-height: 1.5;
}

.info:last-child {
    margin-bottom: 0;
}

.key {
    color: #a3a3a3;
    font-weight: 600;
}

.value {
    color: #ffffff;
}