.link {
    display: flex;
    align-items: center;
    color: #C9D1D9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    padding: 12px 32px;
    margin: 0 0 9px 0;
    border-radius: 11px;
    opacity: 0.75;
}

.link:hover,
.link.active {
    background: #171b20;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    opacity: 1;
    transition: all 0.3s;
}

.link h2 {
    margin: 0 0 0 1rem;
}

.friends {
    margin-top: 2rem;
    padding: 14px 10px;
    background: #171b20;
    border: 1px solid #30363d;
    border-radius: 11px;
}