.counters {
    display: flex;
    justify-content: flex-end;
}

.counter {
    flex: 0 0 75px;
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
}

.icon {

}

.icon:hover {
    transform: translateY(-20%);
    transition: all 0.3s;
}