.post {
    display: flex;
    align-items: flex-start;
    background-color: #0D1117;
    border: 1px solid #30363d;
    border-radius: 11px;
    padding: 1rem;
}

.photo {
    flex: 0 0 50px;
    position: relative;
    padding: 0 0 50px 0;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    overflow: hidden;
}

.photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.user {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.name {
    color: #dddddd;
    font-size: 0.875rem;
    font-weight: 700;
}

.login,
.date {
    font-size: 0.875em;
    color: #C9D1D9 !important;
}

.date {
    flex: 0 0 auto;
}

.content {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    font-size: 0.875rem;
    color: #C9D1D9 !important;
}

.content p {
    line-height: 1.5;
    margin-top: 0.875em;
}

.comments {
    
}